# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo

# -----------------------------
# Virtual Environment
# -----------------------------
venv/
.env

# -----------------------------
# Reports & Logs
# -----------------------------
reports/
logs/

# Keep folders in Git even if empty
!reports/.gitkeep
!logs/.gitkeep

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db